.App {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #C8CBC0;
  height: 100%;
}

.map{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
}

svg{
  margin: 3rem;
  width: 50%;
  height: auto;
  padding: 2rem 3rem 1rem;
}

.stateInfo{
  display: inline-flex;
  background-color: #65806D;
  width: 100%;
  font-family: 'Lalezar', cursive;
  position: fixed;
  bottom: 0;
  left: 0;
}

.stateName{
  width: 33%;
  color: #072F38;
  font-size: 3.5rem;
  background-color: #65806D;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  background-color: #65806D;
}

.licensureInfo{
  width: 67%;
  color: white;
  font-size: 2rem;
  background-color: #65806D;
  display: flex;
  align-items: center;
  justify-content: center;
}

span{
  margin: 0;
  background-color: #65806D;
}

.closeButton{
  padding-right: 5%;
  background-color: #65806D;
  cursor: pointer;
}

.closeButton:hover{
  color: darkgray;
}

.licensure{
  font-family: 'Lalezar', cursive;
  color: white;
  height: 2rem;
  width: 8rem;
  margin: 1rem;
}

.licensure > h3 {
  margin: 0;
}

.none{
  background-color: #C8CBC0;
}

.licensure.quick, .quick > h3{
  background-color: #BD7423;
}

.licensure.walkthrough, .walkthrough > h3{
  background-color: #65806D;
}

.licensure.partial, .partial > h3{
  background-color: #072F38;
}

.licensure.awaiting, .awaiting > h3{
  background-color: #334E3B;
}

.licensure.compact, .compact > h3{
  background-color: #C8CBC0;
}

.licensure.compact{
  border: 1px solid white;
}

.licensure.notcompact, .notcompact > h3{
  background-color: #C8CBC0;
}

.licensure.notcompact{
  border: 1px solid #333332;
}

@media screen and (max-width: 950px) {
  .legend{
    display: none;
  }

  svg{
    width: 80%;
    height: auto;
  }
  
  .map{
    flex-direction: column;
    
  }

  .stateName{
    font-size: 3rem;
  }

  .licensureInfo{
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 650px) {
  .stateInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }

  .stateName{
    margin: 0;
    width: 100%;
  }

  .licensureInfo{
    width: 100%;
  }

  .closeButton{
    position:absolute;
    right: 0;
  }
}